@charset "UTF-8";

/* reset */
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,figure,table,td,textarea,th,ul{margin:0;padding:0}
ul,li {list-style: none;}
a{color: #333; text-decoration: none; font-family: "MaisonNeue-Light", "MaisonNeue-bold"}

@font-face{ 
  font-family: "Ogg-Roman"; 
  font-weight: normal;
  src:
    url('../fonts/Ogg-Roman.eot?#iefix') format(‘embedded-opentype’), 
    url('../fonts/Ogg-Roman.woff') format(‘woff’), 
    url('../fonts/Ogg-Roman.woff2') format('woff2');
}
@font-face{
  font-family: "MaisonNeue-Demi"; 
  font-weight: normal;
  src:
    url('../fonts/MaisonNeue-Demi.woff') format(‘woff’), 
    url('../fonts/MaisonNeue-Demi.woff2') format('woff2');
}
@font-face{ 
  font-family: "MaisonNeue-Light"; 
  font-weight: normal;
  src:
    url('../fonts/MaisonNeue-Light.woff') format(‘woff’), 
    url('../fonts/MaisonNeue-Light.woff2') format('woff2');
}

/* container */
.container {width: 1640px; margin: 0 auto; /* background: rgba(0,0,0,0.4);*/}
.container2 {width: 810px; margin: 0 auto; /* background: rgba(0,0,0,0.4);*/}
.container3 {width: 910px; margin: 0 auto; /* background: rgba(0,0,0,0.4);*/}

/*row*/
.row {padding: 0 46px;}
/*layout*/
#header {width: 100%; height: 100px;}
#banner {}
#contents {}
#footer {}

/*header*/
.header {overflow: hidden}
.header .nav {float: left; padding-top: 43px;}
.header .nav ul {}
.header .nav ul li {float: left; margin-right: 40px;}
.header .nav ul li a {color: #8E8E8E; text-transform: uppercase; font-weight: normal; font-family: "MaisonNeue-Light"; letter-spacing: .18em;}
.header h1{float: right; font-size: 23px; padding-top: 30px;font-weight: bold;}

/*about*/
.about {color: #313131; font-size: 50px; padding: 140px 0 190px 0; width: 70%; font-family: 'MaisonNeue-Light', sans-serif; font-weight: normal; line-height: 76px;}
.about strong{color: #313131; font-family: "Ogg-Roman"; font-weight: 300;}

/* content */
.content {overflow: hidden;}
.content > div {float: left; width: 49%; margin-right: 2%; margin-bottom: 2%;}
.content > div:nth-child(2n) {margin-right: 0;}
.content > div img {width: 100%; display: block;}
.resume {width: 100%; text-align: center; padding: 100px 0;}
.resume h3 {color: #313131; font-size: 50px; font-family: "MaisonNeue-Light"; font-weight: 200;}

.r-button{
  --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
  --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
  --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
  --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
  --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
  --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
  --uirButtonFontSize: var(--rButtonFontSize,  inherit);
  --uirButtonColor: var(--rButtonColor);

  background-color: var(--uirButtonBackgroundColor);
  padding: var(--uirButtonPadding);

  border-width: var(--uirButtonBorderWidth);
  border-style: var(--uirButtonBorderStyle);
  border-color: var(--uirButtonBorderColor);

  cursor: pointer;

  font-family: var(--uirButtonFontFamily);
  font-size: var(--uirButtonFontSize);
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {
  
  border-style: none;
  padding: 0;
}


.button{
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.button::before{
  content: "";
  position: relative;
  z-index: -1;
}
.button_type2::before{
  width: 0;
  height: 0;
  padding: 50%;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate3d(-50%, -50%, 0) scale(0);
  transition: transform .15s ease-out;
}

.button_type2:hover::before{
  transition-duration: .3s;
  transform: translate3d(-50%, -50%, 0) scale(1.5);
}

.button{
  letter-spacing: 0.15em;
  --rButtonPadding: 1.1rem 3rem;
  --rButtonBorderWidth: 2px;
  --uiButtonBgColorHover: var(--buttondBgColorHover);
  
  text-transform: uppercase;
  color: var(--uiButtonBgColorHover);
  transition: color .2s ease-out;
}

.button::before{
  background-color: var(--uiButtonBgColorHover);
}

.button:hover{
  color: #fff;
}

.button:nth-child(2){
  --buttonTextColor: #448aff;
  --buttondBgColorHover: #448aff;
  --buttonTextColorHover: #fff;
  --rButtonBorderColor: #448aff;
}
.demo-buttons{
  max-width: 1400px;  
  display: flex;
  flex-wrap: wrap;  
  margin: auto;    
}
.button{
    font-family: 'Noto Sans KR', sans-serif;
  margin: 20px;
  flex-grow: 1;
}


/* footer */
.footer {overflow: hidden; padding: 100px 0;}
.footer a {float: left; font-size: 16px; color: #666;}
.footer ul {float: right;}
.footer ul li {display: inline;}
.footer ul li a {text-decoration: underline; font-size: 18px; color: #666; margin-left: 35px;}

/* sub_banner */
#sub_Banner {}
#sub_Banner h2 {font-size: 40px; font-family: "Ogg-Roman"; font-weight: normal;
    padding-top: 3%; padding-bottom: 3%}
#sub_Banner .img {width: 100%; height: 600px; background: #333;}

/* textarea */
.textarea {color: #333; padding: 10% 0; font-family: "MaisonNeue-Light"}
.textarea h3 {font-size: 28px; padding-bottom: 8%; font-weight: normal;}
.textarea h4 {letter-spacing: 0.1em;}
.textarea ul li {padding-bottom: 1.9%;}
.textarea ul {padding-bottom: 10%; line-height: 25px;}
.textarea p {line-height: 38px;}
.textarea img {padding-bottom: 15%; width: 100%; display: block;}

/* videoarea */
.videoarea {color: #333; padding: 10% 0; font-family: "MaisonNeue-Light";}
.videoarea h3 {font-size: 28px; padding-bottom: 5%; font-weight: normal;}
.videoarea h4 {letter-spacing: 0.1em;}
.videoarea .video {position: relative; width: 100%;height: 0; padding-bottom: 56.25%;}
.videoarea .video iframe {position: absolute;top: 0;left: 0; width: 100%;height: 100%;}

.box {overflow: hidden;}
.box .left {width: 64%; float: left; height: 410px; background: #ffffff; padding: 4% 1% 1% 0%; line-height: 38px;}
.box .right {width: 26%; float: left; height: 410px; background: #ffffff; padding: 4% 0% 1% 8%; line-height: 38px;}


.pb02 {padding-bottom: 2%;}
.pb03 {padding-bottom: 3%;}
.pb04 {padding-bottom: 4%;}
.pb05 {padding-bottom: 5%;}
.pb06 {padding-bottom: 6%;}
.pb07 {padding-bottom: 7%;}
.pb08 {padding-bottom: 8%;}
.pb09 {padding-bottom: 9%;}
.pb10 {padding-bottom: 10%;}
.pb11 {padding-bottom: 11%;}
.pb12 {padding-bottom: 12%;}
.pb13 {padding-bottom: 13%;}

.mt05 {margin-top: 5%;}
.mt06 {margin-top: 6%;}
.mt07 {margin-top: 7%;}
.mt08 {margin-top: 8%;}
.mt09 {margin-top: 9%;}
.mt10 {margin-top: 10%;}


/* mediaquery */
@media (max-width: 1450px){
    .container {width: 100%;}
}

/* mediaquery */
@media (max-width: 1280px){

}

@media (max-width: 768px){
    .row {padding: 0 24px;}
    #header {height: 70px;}
    .header h1 {padding-top: 16px;}
    .header .nav {padding-top: 20px; display: none;}
    .header .nav ul li {margin-right: 20px;}
    .header .nav ul li a {font-family: "Noto Sans KR"; letter-spacing: .1em;}
    .about {padding: 50px 0; width: 100%; font-size: 24px;}
    .content > div {width: 100%; margin-right: 0; margin-bottom: 4%}
    .resume {display: none}
    .button {display: none;}
    .footer {text-align: center;}
    .footer a {float: none; font-size: 14px; color: #666;}
    .footer ul {float: none; margin-top: 5%;}
    .footer ul li a {margin-left: 0; font-size: 12px; padding-top: 5%;}
}